In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read excel file 
xlsx_file = "./Data/excel_diabetes.xlsx"
print(xlsx_file)

./Data/excel_diabetes.xlsx

In [3]:
# engine = 'openpyxl' allows conversion of excel into csv file
excel_data_df = pd.read_excel(xlsx_file, engine = 'openpyxl')
excel_data_df.to_csv ("excel_diabetes.csv", index = None,  header=True) 
excel_data_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
# read csv file
csv_file = "./Data/csv_diabetes.csv"

In [12]:
# Create dataframe
csv_data_df = pd.read_csv(csv_file, encoding='iso-8859-1')
csv_data_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [13]:
#Combine the data into a single dataset
diabetes_data_df = pd.merge(excel_data_df, csv_data_df, how="left", on=["Pregnancies"])
diabetes_data_df

,Pregnancies,Glucose_x,BloodPressure_x,SkinThickness_x,Insulin_x,BMI_x,DiabetesPedigreeFunction_x,Age_x,Outcome_x,Glucose_y,BloodPressure_y,SkinThickness_y,Insulin_y,BMI_y,DiabetesPedigreeFunction_y,Age_y,Outcome_y
0,6,148,72,35,0,33.6,0.627,50,1,166,74,0,0,26.6,0.304,66,0
1,6,148,72,35,0,33.6,0.627,50,1,154,74,32,193,29.3,0.839,39,0
2,6,148,72,35,0,33.6,0.627,50,1,0,68,41,0,39.0,0.727,41,1
3,6,148,72,35,0,33.6,0.627,50,1,144,72,27,228,33.9,0.255,40,0
4,6,148,72,35,0,33.6,0.627,50,1,93,50,30,64,28.7,0.356,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165032,1,93,70,31,0,30.4,0.315,23,0,117,88,24,145,34.5,0.403,40,1
165033,1,93,70,31,0,30.4,0.315,23,0,136,74,50,204,37.4,0.399,24,0
165034,1,93,70,31,0,30.4,0.315,23,0,153,82,42,485,40.6,0.687,23,0
165035,1,93,70,31,0,30.4,0.315,23,0,109,56,21,135,25.2,0.833,23,0
165036,1,93,70,31,0,30.4,0.315,23,0,79,60,42,48,43.5,0.678,23,0