In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read excel file 
xlsx_file = "./Data/excel_diabetes.xlsx"
print(xlsx_file)

./Data/excel_diabetes.xlsx

In [3]:
# engine = 'openpyxl' allows conversion of excel into csv file
excel_data_df = pd.read_excel(xlsx_file, engine = 'openpyxl')
excel_data_df.to_csv ("excel_diabetes.csv", index = None,  header=True) 
excel_data_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
excel_data_df.index.name = "id"
excel_data_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
id,,,,,,,,,
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
# read csv file
csv_file = "./Data/csv_diabetes.csv"

In [6]:
# Create dataframe
csv_data_df = pd.read_csv(csv_file, encoding='iso-8859-1')
csv_data_df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [7]:
csv_data_df.index.name = "id"
csv_data_df

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [8]:
#Do a .loc to get rid of the data that we don't need.
#In this case we are looking at the data points: Diabetes_012, HighBP, HighChol, CholCheck, BMI and smoker
# clean_csv_data_df = csv_data_df.loc[:,["Diabetes_012", "HighBP", "Highchol", "CholCheck", "BMI", "Smoker"]]
# clean_csv_data_df


#Code to view all columns in dataset
pd.set_option('max_columns', None)
csv_data_df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
id,,,,,,,,,,,,,,,,,,,,,,
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [9]:
#Drop data point that we don't need
csv_data_df_final = csv_data_df.drop(['Fruits', 'HeartDiseaseorAttack', 'PhysActivity', 'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education', 'Income'], axis=1)
csv_data_df_final.head()

    Diabetes_012  HighBP  HighChol  CholCheck   BMI  Smoker  Stroke
id
0            0.0     1.0       1.0        1.0  40.0     1.0     0.0
1            0.0     0.0       0.0        0.0  25.0     1.0     0.0
2            0.0     1.0       1.0        1.0  28.0     0.0     0.0
3            0.0     1.0       0.0        1.0  27.0     0.0     0.0
4            0.0     1.0       1.0        1.0  24.0     0.0     0.0

In [10]:
#Code to rename id column
csv_data_df_final.index.name = "id"
csv_data_df_final.head()

    Diabetes_012  HighBP  HighChol  CholCheck   BMI  Smoker  Stroke
id
0            0.0     1.0       1.0        1.0  40.0     1.0     0.0
1            0.0     0.0       0.0        0.0  25.0     1.0     0.0
2            0.0     1.0       1.0        1.0  28.0     0.0     0.0
3            0.0     1.0       0.0        1.0  27.0     0.0     0.0
4            0.0     1.0       1.0        1.0  24.0     0.0     0.0

In [11]:
#Combine the data into a single dataset
diabetes_data_df = pd.merge(excel_data_df, csv_data_df_final, how="outer", on=["id"])
diabetes_data_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI_x,DiabetesPedigreeFunction,Age,Outcome,Diabetes_012,HighBP,HighChol,CholCheck,BMI_y,Smoker,Stroke
id,,,,,,,,,,,,,,,,
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,0.0,1.0,1.0,1.0,40.0,1.0,0.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,0.0,1.0,1.0,1.0,28.0,0.0,0.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,0.0,1.0,0.0,1.0,27.0,0.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,0.0,1.0,1.0,1.0,24.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,1.0,45.0,0.0,0.0
253676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,1.0,18.0,0.0,0.0
253677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,28.0,0.0,0.0
253678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,23.0,0.0,0.0
253679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,1.0,25.0,0.0,0.0

In [12]:
diabetes_data_df.count()

Pregnancies                    768
Glucose                        768
BloodPressure                  768
SkinThickness                  768
Insulin                        768
BMI_x                          768
DiabetesPedigreeFunction       768
Age                            768
Outcome                        768
Diabetes_012                253680
HighBP                      253680
HighChol                    253680
CholCheck                   253680
BMI_y                       253680
Smoker                      253680
Stroke                      253680
dtype: int64

In [13]:
diabetes_data_df.dropna(subset = ["Pregnancies"], inplace=True)
diabetes_data_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI_x,DiabetesPedigreeFunction,Age,Outcome,Diabetes_012,HighBP,HighChol,CholCheck,BMI_y,Smoker,Stroke
id,,,,,,,,,,,,,,,,
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,0.0,1.0,1.0,1.0,40.0,1.0,0.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,0.0,0.0,0.0,0.0,25.0,1.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,0.0,1.0,1.0,1.0,28.0,0.0,0.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,0.0,1.0,0.0,1.0,27.0,0.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,0.0,1.0,1.0,1.0,24.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0,0.0,0.0,0.0,1.0,30.0,1.0,0.0
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0,2.0,1.0,1.0,1.0,28.0,0.0,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0,0.0,1.0,0.0,1.0,31.0,0.0,0.0
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0,0.0,1.0,1.0,1.0,27.0,0.0,0.0
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0,0.0,0.0,1.0,1.0,22.0,0.0,0.0

In [14]:
# Check the names of all the columns and see if there are any rows with missing data
diabetes_data_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI_x                       768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
Diabetes_012                768
HighBP                      768
HighChol                    768
CholCheck                   768
BMI_y                       768
Smoker                      768
Stroke                      768
dtype: int64

In [15]:
diabetes_data_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI_x,DiabetesPedigreeFunction,Age,Outcome,Diabetes_012,HighBP,HighChol,CholCheck,BMI_y,Smoker,Stroke
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958,0.494792,0.597656,0.528646,0.981771,29.084635,0.467448,0.070312
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951,0.849863,0.490690,0.499504,0.133866,6.085602,0.499264,0.255840
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000,0.000000,1.000000,1.000000,1.000000,28.000000,0.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000,1.000000,1.000000,1.000000,1.000000,32.000000,1.000000,0.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000,2.000000,1.000000,1.000000,1.000000,59.000000,1.000000,1.000000